body {
  background: #EAEAEA;
  font-family: 'anonymous_proregular'
}

.container {
  color: #2f2f2f;

  max-width: 34em;
  padding: 2em;
  margin:auto;

  transform: translate(50%, 50%);
  position: absolute;
  top: 25%;
  left: 25%;
  

  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Safari */
  transform: rotate(-7deg);
}

.header {
  padding-bottom: 1.2em;
}

.header-email {
  color: #EAEAEA;
  font: bold;
  background-color: #2f2f2f;
  margin-left: 1.2em;
  margin-top: 0.7em;
}

.content-paragraph-2 {
  padding-top: 1.2em;
  -ms-transform: rotate(1deg); /* IE 9 */
  -webkit-transform: rotate(1deg); /* Safari */
  transform: rotate(1deg);
}

.github-link {
  transform: translate(-5%, 9%);
}

.twitter-link {
  transform: translate(32%, 47%);
}