@font-face {
    font-family: 'anonymous_proregular';
    src: url('anonymouspro-regular-webfont.woff2') format('woff2'),
         url('anonymouspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}